@media screen and (max-width: 480px) {
    body {
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        max-width: 100%;
        width: auto;
    }

    .container {
        width: auto;
    }

    .header {
        width: auto;
        max-width: 100%;
    }

    header .video {
        height: 581px;
        width: auto;
        max-width: 100%;
        object-fit: cover;
    }

    a {
        font-size: 50px;
    }
}


@media (max-width: 1024px) and (min-width: 480px){
    body {
        
        width: auto;
        max-width: 100%;
    }
    
    .container {
        width: auto;
    }

    .header {
        width: auto;
        max-width: 100%;
    }

    header .video {
        height: 581px;
        width: auto;
        max-width: 100%;
        object-fit: cover;
    }

}