@media screen and (max-width: 480px) {
    body {
        margin: 0 auto;
        padding: 0;

        max-width: 480px;
        width: auto;
    }
    
    .header {
        max-width: 480px;
        width: auto;
    }

    .container {
        width: auto;
    }

    header .video {
        width: auto;
    }

    a {
        font-size: 50px;
    }
}


@media (min-width: 480px) and (max-width: 1024px) {
    body {
        width: auto;
    }
    
    .container {
        width: auto;
    }

    .header {
        width: auto;
    }

    header .video {
        width: auto;
    }

    a {
        font-size: 50px;
    }
}