@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1170px;

  color : white;
  background-color: #131313;
  font-family: 'Fira Mono', monospace;
}

ul , li {
  display: block;
}

.header {
  /*background: url(../img/wallpaper.gif) no-repeat center top / cover;*/
  max-width: 1170px;
  padding-top: 15px;
  padding-bottom: 500px; /*400 px*/
}

header a {
  color: #ffffff;
}

header a:hover {
  color: #cccccc;
}

header .video {
  position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
  width: 100%;
	height: auto;
  max-height: 581px;
	pointer-events: none;
  overflow: hidden;
}

.menu {
  display: flex;
}

.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.menu li {
  margin-right: 40px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.nav {
  z-index: 1;
  display: flex;
  margin-top: 15px;
}

.section {
  padding-top: 15px;
  z-index: 1;
  background-color: #131313;
}

.position-center {
  display: flex;
  align-items: center;
  justify-content: center

  
}

.position-center a {
  color: #FFFFFF;
}

.position-center a:hover {
  color: #cccccc;
}