@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1170px;

  color : white;
  background-color: #131313;
  font-family: 'Fira Mono', monospace;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(44, 42, 42);
}

::-webkit-scrollbar-thumb {
  background: #444444;

  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #616161; 
}

ul , li {
  display: block;
}

.header {
  /*background: url(../img/wallpaper.gif) no-repeat center top / cover;*/
  max-width: 1170px;
  padding-top: 15px;
  padding-bottom: 500px; /*400 px*/
}

header a {
  color: #ffffff;
}

header a:hover {
  color: #cccccc;
}

header .video {
  position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
  width: 100%;
	height: auto;
  max-height: 581px;
	pointer-events: none;
  overflow: hidden;
}

.menu {
  display: flex;
}

.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.menu li {
  margin-right: 40px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.nav {
  z-index: 1;
  display: flex;
  margin-top: 15px;
}

.section {
  padding-top: 15px;
  z-index: 1;
  background-color: #131313;
}

.position-center {
  display: flex;
  align-items: center;
  justify-content: center

  
}

.position-center a {
  color: #FFFFFF;
}

.position-center a:hover {
  color: #cccccc;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #131313;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #44ff0a;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

._box_conteiner {

  background: #1d1d1d;
  border: solid 10px #1d1d1d;

  margin-top: 15px;
}

@media (min-width: 1024px)
{
  ._box_conteiner {
    display: flex;
  }

  @media (orientation: landscape) {
    ._box_conteiner{
     flex-direction: row;
    }
 }
 
 @media (orientation: portrait) {
     ._box_conteiner{
       flex-direction: column;
     }
 }
}

.image_box {
  width: 500px;
}

._button_box {
  margin-left: 40px;
  width: 150px;
  height: 35px;
  font-size: 14px;

  color: white;
  background-color: #3f3f3f;
  border-color: transparent;
}

._button_box:hover {
  background: #272727;
  cursor: pointer;
}

div.container_footer {
  margin-top: 55px;
  margin-bottom: 100px;

  position: relative;
}

div.container_footer div._footer {
  position: absolute;
  
  left: 50%;
  transform: translate(-50%, -50%);

  bottom: 10px;
}