/* Reset and base styles */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

li, ul li {
    list-style: none;
}

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

address {
    font-style: normal;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(44, 42, 42);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #444444;
  
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #616161; 
  }